*{
	margin: 0;
	padding: 0;
    border: 0;
}
html {
    background: #282828;
}
body{
	font-family: Gudea, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: white;
    background-color: black;
    font-size: 11pt;
    width: 1000px;
    margin: auto;
    box-shadow: #000 0px 0 7px -1px;
}
img {
    border: none;
}
header {
    width: 1000px;
    height: 475px;
    position: relative;
}
header .logo{
	position: absolute;
	pointer-events: none;
	left: 50%;
	top: 50%;
	margin: -53px 0 0 -150px;
}
header canvas {
	cursor: pointer;
}
header span {
    background: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: x-small;
    padding: 3px;
    position: absolute;
    right: 0;
    bottom: 0;
}

section{
    padding: 36px;
}
section:nth-child(odd) {
    background-color: #1b1b1b;
}
.background{
    width: 100%;
    height: 100%;
}
.contact {
    font-size: 9pt;
}
h1 {
    font-weight: normal;
    font-size: 20pt;
    margin-bottom: 18px;
}

/******* Work ******/
.work {
    overflow: hidden;
    position: relative;
    width: 930px;
    height: 305px;
}
.work .content{
    width: 20000em;
    position: absolute;
}
.work article {
    position: relative;
    float: left;
    width: 930px;
    height: 310px;
}
.work .poster {
    position: absolute;
    left: 0;
    top: 0;
}
.work .thumb {
    position: absolute;
    left: 652px;
    top: 0;
}
.work .text {
    position: absolute;
    left: 650px;
    top: 135px;
    padding: 18px;
    width: 239px;
}
.work .text h1 {
    font-size: 20px;
    margin: 0;
}
.work .text h2 {
    font-size: 13px;
    color: #4D4D4D;
    margin: 0 0 16px 0;
}
.workNavi{
    margin: auto;
}
.workNavi a{
    width: 15px;
    height: 15px;
    background: black;
    display: block;
    margin: 18px 10px 0 0;
    float: left;

    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.workNavi a.active{
    background: #B7B7B7 !important;
}
/**** Clients ****/
.clients img {
    pointer-events: none;
}

/**** Contact ****/
.contact ul{
    list-style: none;
}
.contact li{
    width: 240px;
    float: left;
}
.contact li.last {
    float: right;
    width: auto;
}
.contact a {
    color: white;
    text-decoration: none;
}

/****** Footer *****/
footer {
    color: #4D4D4D;
    font-size: x-small;
    padding: 9px 36px;
}

.clear{
    clear: both;
}
/* iPhone, Android */
@media only screen and (min-device-width: 320px) and (max-device-width: 640px) {

body{
    min-width: 0;
    font-size: 200%;
}
h1 {
    font-size: 250% !important;
}

.work {
    overflow: visible;
    width: 930px;
    height: auto;
}

.workNavi {
    display: none;
}

.work .content{
    width: auto;
    position: relative;
}
.work .content *{
    position: relative;
    height: auto;
}

.work article {
    margin-bottom: 80px;
}

.work .poster {
    width: 930px;
    height: 429px;
}
.work .thumb {
    display: none;
}
.work .text {
    position: relative;
    left: 0;
    top: 0;
    width: auto;
    padding: 0;
}
.work .text h1 {
    font-size: 250%;
}
.work .text h2 {
    font-size: 100%;
    color: #4D4D4D;
    margin: 0 0 16px 0;
}

.contact{
    font-size: inherit;
    position: absolute;
    top: 475px;
    width: 930px;
}
.about{
    margin-top: 810px;
}
.contact li, .contact li.last{
    width: auto;
    float: none;
    margin-bottom: 20px;
}
/*
    body{
        min-width: 0;
        font-size: 200%;
    }

    #content {
        padding: 50px 0;
        width: 100%;
    }
    .column {
        float: none;
        width: 70%;
        padding: 0;
        margin: auto;
    }
    footer span {
        display: none;
    }
*/
}
