*{
	margin: 0;
	padding: 0;
    border: 0;
}
html {
    background: #282828;
}
body{
	font-family: Gudea, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: white;
    background-color: black;
    font-size: 11pt;
    width: 1000px;
    margin: auto;
    box-shadow: #000 0px 0 7px -1px;
}

header {
    width: 100%;
    height: 475px;
    position: relative;
}
header .logo{
	position: absolute;
	pointer-events: none;
	left: 50%;
	top: 50%;
	margin: -53px 0 0 -150px;
}
header canvas {
	cursor: pointer;
}

section{
    padding: 36px;
}
section:nth-child(odd) {
    background-color: #1b1b1b;
}
.contact {
    font-size: 9pt;
}
h1 {
    font-weight: normal;
    font-size: 20pt;
    margin-bottom: 18px;
}

ul{
    list-style: none;
}
li{
    width: 240px;
    float: left;
}
li.last {
    float: right;
    width: auto;
}
a {
    color: white;
    text-decoration: none;
}

footer {
    color: #4D4D4D;
    font-size: x-small;
    padding: 9px 36px;
}

.clear{
    clear: both;
}
/* iPhone, Android */
@media only screen and (min-device-width: 320px) and (max-device-width: 640px) {

    body{
        min-width: 0;
        font-size: 200%;
    }

    #content {
        padding: 50px 0;
        width: 100%;
    }
    .column {
        float: none;
        width: 70%;
        padding: 0;
        margin: auto;
    }
    footer span {
        display: none;
    }
}
